@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;

  .tech-icon {
    font-size: 3rem;
    color: $subTitle;
    display: block;
    margin: 0 auto;
  }

  p {
    color: $subTitle;
    font-size: 10px;
  }

  &:hover .tech-icon {
    color: $skillsColor;
  }

  &:hover p {
    color: $skillsColor;
  }

  &[name="Python"] .tech-icon,
  &[name="PostgreSQL"] .tech-icon {
    font-size: calc(3rem - 6px);
  }

  &[name="Laravel"] .tech-icon {
    font-size: calc(3rem - 2px);
  }

  &[name="Redis"] .tech-icon {
    font-size: calc(3rem - 5px);
  }

  &[name="Node.js"] .tech-icon {
    font-size: calc(3rem - 2px);
  }

  &[name="FastAPI"] .tech-icon {
    font-size: calc(3rem - 3px);
  }

  &[name="NATS JetStream"] .tech-icon {
    font-size: calc(3rem - 4px);
  }

  &[name="PostgreSQL"] .tech-icon {
    font-size: calc(3rem - 4px);
  }

  &[name="Vue.js"] .tech-icon {
    font-size: calc(3rem - 4px);
  }
}
